 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/d320a2c6edc6b236558206a2bdee6076cc9cfd24cccf170fc4d2911b6f31e51b5d520b12a2fe6be75823899e4fa8c8bf150261a4fd051a43dbb1c6_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 881px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 381px 28px 0;
}

.u-section-1 .u-text-2 {
  margin: 28px 55px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-1 .u-text-1 {
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 556px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    margin-left: -4px;
    margin-right: -4px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 263px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 26px;
  }
} .u-section-2 {
  min-height: 862px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 48px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 423px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-image-1 {
  width: 193px;
  height: 193px;
  margin: 64px auto 0 13px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 423px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 24px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-group-1 {
  margin-top: 38px;
  margin-bottom: 60px;
  min-height: 242px;
  height: auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 19px 0 0;
}

.u-section-2 .u-image-2 {
  width: 156px;
  height: 156px;
  margin: 33px 38px 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.5625rem;
  text-transform: uppercase;
  margin: -124px 265px 0 13px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 834px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 349px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 349px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: -171px;
    margin-right: 78px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 734px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 267px;
  }

  .u-section-2 .u-image-1 {
    width: 180px;
    height: 180px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1490px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 801px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1126px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 504px;
  }
} .u-section-3 {
  min-height: 570px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 570px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  background-image: none;
  font-weight: 700;
  margin: 34px 23px 0 6px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 5px 23px 0 6px;
}

.u-section-3 .u-text-3 {
  background-image: none;
  font-weight: 700;
  margin: -230px 22px 0 6px;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: -285px auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 570px;
}

.u-section-3 .u-container-layout-2 {
  padding: 13px 0;
}

.u-section-3 .u-image-1 {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 515px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 470px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 470px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 400px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 360px;
  }

  .u-section-3 .u-image-1 {
    width: 180px;
    height: 180px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1252px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1080px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 834px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 680px;
  }
} .u-section-4 {
  min-height: 865px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 15px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 864px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 713px;
  height: 287px;
  margin: -4px auto 0 0;
}

.u-section-4 .u-text-1 {
  background-image: none;
  font-weight: 700;
  font-size: 2rem;
  margin: -277px 110px 0 749px;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  margin: 34px 34px 0 749px;
}

.u-section-4 .u-image-2 {
  width: 669px;
  height: 266px;
  margin: 173px 12px 0 auto;
}

.u-section-4 .u-text-3 {
  background-image: none;
  font-weight: 700;
  margin: -266px 884px 0 155px;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  margin: 22px 700px 0 18px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 1424px;
  }

  .u-section-4 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 712px;
  }

  .u-section-4 .u-image-1 {
    height: 288px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -278px;
    margin-right: 10px;
    margin-left: 649px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 649px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 784px;
    margin-left: 55px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 518px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 630px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 439px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 439px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 619px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 298px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 493px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 218px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -208px;
    margin-left: 259px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 259px;
  }

  .u-section-4 .u-image-2 {
    width: 540px;
    height: 215px;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-top: -215px;
    margin-right: 439px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 118px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 341px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 137px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -127px;
    margin-left: 59px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 59px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 135px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -135px;
    margin-right: 239px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }
}