 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/IMG_2927.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 878px;
}

.u-section-1 .u-group-1 {
  width: 590px;
  min-height: 366px;
  height: auto;
  background-image: none;
  margin: 210px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-form-1 {
  height: 245px;
  width: 442px;
  margin: 30px auto 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-1 .u-group-1 {
    width: 637px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    width: 424px;
  }

  .u-section-1 .u-form-1 {
    width: 430px;
  }

  .u-section-1 .u-btn-1 {
    border-style: solid;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-size: auto 105%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 535px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 252px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}

     .container {
       max-width: 350px;
       margin: 50px auto;
       text-align: center;
     }
  
     input[type="submit"] {
       margin-bottom: 20px;
     }
  
     .select-block {
       width: 300px;
       margin: 110px auto 30px;
       position: relative;
     }
  
     select {
       width: 100%;
       height: 50px;
       font-size: 100%;
       font-weight: bold;
       cursor: pointer;
       border-radius: 0;
       background-color: #1A33FF;
       border: none;
       border: 2px solid #1A33FF;
       border-radius: 4px;
       color: white;
       appearance: none;
       padding: 8px 38px 10px 18px;
       -webkit-appearance: none;
       -moz-appearance: none;
       transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
     }
  
     /* For IE <= 11 */
     select::-ms-expand {
       display: none;
     }
  
     .selectIcon {
       top: 7px;
       right: 15px;
       width: 30px;
       height: 36px;
       padding-left: 5px;
       pointer-events: none;
       position: absolute;
       transition: background-color 0.3s ease, border-color 0.3s ease;
     }
  
     .selectIcon svg.icon {
       transition: fill 0.3s ease;
       fill: white;
     }
  
     select:hover,
     select:focus {
       color: #000000;
       background-color: white;
     }
  
     select:hover~.selectIcon,
     select:focus~.selectIcon {
       background-color: white;
     }
  
     select:hover~.selectIcon svg.icon,
     select:focus~.selectIcon svg.icon {
       fill: #1A33FF;
     }